<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proyecto.loginultimodia">



    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    
    <application
        android:allowBackup="true"
        android:label="CAPH"
        android:icon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginUltimoDia">
        <service android:name="com.proyecto.loginultimodia.ServicioPikku" />
        <activity
            android:name="com.proyecto.loginultimodia.MainActivity"

            android:exported="true">

        </activity>
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.proyecto.loginultimodia.LoginActivity"

            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.proyecto.loginultimodia.RegisterActivity"

            android:exported="true">

        </activity>

        <activity
            android:name="com.proyecto.loginultimodia.MedicamentosActivity"

            android:exported="true">

        </activity>

        <activity
            android:name="com.proyecto.loginultimodia.ConectarPikkuActivity"

            android:exported="true">

        </activity>
        <activity

            android:name="com.proyecto.loginultimodia.ForgotPassword"

            android:exported="true">

        </activity>
        <activity
            android:name="com.proyecto.loginultimodia.IniciarDosisDocPaciente"

            android:exported="true">

        </activity>
        <activity
            android:name="com.proyecto.loginultimodia.iniciarHabsDocPaciente"

            android:exported="true">

        </activity>
        <activity
            android:name="com.proyecto.loginultimodia.SecondActivity"

            android:exported="true">

        </activity>
        <activity
            android:name="com.proyecto.loginultimodia.AcercaDeActivityREAL"

            android:exported="true">
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />

        </activity>
        <activity
            android:name="com.proyecto.loginultimodia.DoctorSecondActivity"

            android:exported="true">

        </activity>

        <activity
            android:name="com.proyecto.loginultimodia.HabitacionesActivity"

            android:exported="true">

        </activity>

        <activity
            android:name="com.proyecto.loginultimodia.AnyadirAvisoActivity"

            android:exported="true">

        </activity>
        <activity
            android:name="com.proyecto.loginultimodia.DosisActivity"

            android:exported="true">

        </activity>

        <activity

            android:name="com.proyecto.loginultimodia.EliminarPacienteActivity"

            android:exported="true">

        </activity>

        <activity
            android:name="com.proyecto.loginultimodia.AbrirEliminarActivity"

            android:exported="true">

        </activity>

        <activity
            android:name="com.proyecto.loginultimodia.AnyadirDosisActivity"

            android:exported="true">

        </activity>

        <activity
            android:name="com.proyecto.loginultimodia.SuperAdminSecondActivity"


            android:exported="true">

        </activity>
        <activity
            android:name="com.proyecto.loginultimodia.AcercaDeActivity"
            android:label="Acerca de ..."/>



        <activity android:name="com.proyecto.loginultimodia.LogOutActivity"
            android:label="Cerrar sesión"/>

    </application>

</manifest>